/* Font Sizes */
$base-font-size: 1.6rem;
$logo-font-size: 6rem;
/*----> Headings*/
$h-prim-size:2.5rem;

/* Font Families */
$base-ff:'Audiowide', 'Tahoma', sans-serif;
$secondary-ff:'Poppins', 'Tahoma', sans-serif;

/*
font-family: 'Teko', sans-serif;
font-family: 'Audiowide', cursive;
font-family: 'Cormorant Garamond', serif;
font-family: 'Julius Sans One', sans-serif;
font-family: 'Poppins', sans-serif;
font-family: 'Josefin Sans', sans-serif;
*/

/* Font Colors*/
$font-color-light:#ffffff;
$font-color-dark:#000000;
$footer-font-color:#26a525;

/* Background Colors*/
$bg-primary: #060708;
$bg-secondary: #ffffff;
$bg-light: #c4c2c2;
$bg-dark: #313131;


/* Navigation */
$nav-height: 80px;
$nav-font-size: 18px;

/* Icons */
$fa-radius: 5px;