/* ============================================ Footer ============================================ */
.footer__wrapper {
    text-align: center;
    padding: 10px;
    
    .copyrights {
        font-size:0.8rem;
        }
}